.c-pagetop {
  display: none;
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
  @include mq(tab) {
    & {
      bottom: 1.5em;
      right: 1.5em;
    }
  }
  @media only screen and (max-width: 1024px) {

  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #d0576b;
    border-radius: 50%;
    color: #d0576b;
    text-decoration: none;
    &::before {
      font-family: FontAwesome;
      content: "\f077";
    }
  }
}
