//ページ全体からみたレイアウトに対するスタイル
.l-header {
  position: sticky;
  top: 0;
  background-color: $color-base;
  z-index: 1;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background: -webkit-linear-gradient(to right, #BE0168, #EBB591);
    background: -moz-linear-gradient(to right, #BE0168, #EBB591);
    background: -o-linear-gradient(to right, #BE0168, #EBB591);
    background: -ms-linear-gradient(to right, #BE0168, #EBB591);
    background: linear-gradient(to right, #BE0168, #EBB591);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__logo {
    display: inline-block;
    max-width: 40%;
    text-decoration: none;
  }
  &__site-title {
    color: #333;
    font-size: 3.2rem;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    letter-spacing: .5rem;
  }
  &__site-description {
    color: #333;
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
  }
}
