.p-archive {
  &__heading {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
  }
  &__entries {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 40px;
  }
  &__list {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 30%;
    max-height: 400px;
    margin-bottom: 3em;
    margin-right: 2%;
    padding: 0 5px 0 5px;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 3em;
      position: absolute;
      bottom: 0;
      background: linear-gradient(rgba(255,255,255,0) 0,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
    }
    @include mq(pc-sm) {
      & {
        width: 46%;
      }
    }
    @include mq(tab) {
      & {
        width: 50%;
        margin-right: 0;
      }
    }
    @include mq(sp) {
      & {
        width: 100%;
      }
    }


    @media only screen and (max-width: 1024px) {

    }
  }

  &__categories {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 70%;
  }
  &__category {
    margin: 0 5px 0 0;
    padding: 0 5px;
    background-color: #d0576b;
    color: #fff;
    font-size: 12px;
  }
  &__pager {
    display: flex;
    justify-content: space-between;
    &-right {
      margin-left: auto;
    }
  }
  &__element a {
    margin-right: 10px;
  }
}
