.p-banner {
  padding: 45px 0;
  background: #efefef;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 200px;
    margin: 0 10px;
    border: 1px solid #d7d3d4;
    @media only screen and (max-width: 1024px) {
      margin-bottom: 10px;
    }
  }
}
