.p-profile {
  margin: 60px 0;
  padding: 0 15px;

  h2 {
    position: relative;
    padding: .5em 1.2em;
    color: #333333;
    font-size: 1.5em;
    font-weight: bold;

    &::before {
      display: inline-block;
      position: absolute;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      border: 2px solid #8f8f8f;
      content: '';
      top: calc(50% - 3px);
      left: 0;
    }
    &::after {
      display: inline-block;
      position: absolute;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      border: 2px solid #8f8f8f;
      content: '';
      top: calc(50% + 3px);
      left: 5px;
    }
  }
  :where(*)+h2 {
    margin-top:40px;
  }

  p {
    margin-top: 20px;
  }

  .username {
    color: #d0576b;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  .account-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    li {
      width: 100%;
      max-width: 60px;
      margin-bottom: 1rem;
      a {
        display: grid;
        place-items: center;
        position: relative;
        background: #d0576b;
        color: #fff;
        font-size: 40px;
        text-decoration: none;
        &::before {
          content: "";
          display: block;
          padding-top: 100%;
        }
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -45%);
          font-size: .55em;
          font-weight: 700;
          &.qiita {
            font-family: 'Kano', 'Noto Sans JP', sans-serif;
          }
        }
      }
    }
  }

  .fa-brands, .fab {
    font-family: FontAwesome;
    font-weight: 400;
  }
  .fa-github:before {
    content: "\f09b";
  }
}
