.p-sharebtn {
  margin: 30px 0;
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    flex: 1;
    &:not(:last-child) {
      margin-right: 4px;
    }
    &--facebook {
      background: #3b5998;
      a::before {
        font-family: FontAwesome;
        content: "\f09a";
      }
    }
    &--twitter {
      background: #1da1f2;
      a::before {
        font-family: FontAwesome;
        content: "\f099";
      }
    }
    a {
      display: block;
      padding: 8px 0;
      text-align: center;
      text-decoration: none;
      color: #fff;
    }
  }
}
